* {
	margin: 0;
	padding: 0;	
	border: 0;
	box-sizing: border-box;
	font-size: 10;
	font-family: 'Sarabun', sans-serif;
}

/* Low tablets, mobiles (landscape) */
@media screen and (max-width: 1900px) {
  
	nav {
		background-color:  #05668D;
	}

	figure.menu, figure.search, figure.user {
		display: none;
	}

	figure.dog-face {
		display: inline;
	}

	figure.dog-face > img {
		width: 8%;
		margin: 0.5rem 0 0 0.9rem;
		padding-right: 2rem;
		border-right: 0.15rem solid  #1d1d1d;
	}

	a {
		font-size:3rem;
		display:inline-block;
		width:22%;
		position: relative;
		bottom: 3.5vh;
		list-style-type:none;
		text-align: center;
		text-decoration:none;
		color:  #1d1d1d;
	}

	a:hover {
		color: #DCDCDC;
		transition-property: color;
		transition-duration: 0.4s;
		transition-timing-function: cubic-bezier(.17,.67,.83,.67);
	}

}

@media screen and (max-width: 600px) {

	 nav {
		 background-color: #05668D;
	 }

	 a {
		 display: none;
	 }

	figure.menu, figure.search, figure.user {
		display: inline-block;
	}

	figure.menu {
		position: relative;
		left: 1vw;
		bottom: 0.5vw;
		color:  #1D1D1D;
	}

	figure.search, figure.user {
		position: relative;
		left: 75vw;
		bottom: 0.5vw;
		margin: 0.2rem 0.5rem 0.2rem 0.5rem;
		color: #1d1d1d;
	}
	 figure.dog-face {
		 display: inline-block;
		 width: 5%;
		 position: relative;
		 left: 41vw;
		 top: 0.5vw;
	 }

	figure.dog-face > img {
		width: 100%;
	}
}

/* Header style */

